[submodule "src/pearllib/static/buava"]
	path = src/pearllib/static/buava
	url = https://github.com/fsquillace/buava
[submodule "ci/test-utils"]
	path = ci/test-utils
	url = https://github.com/pearl-core/test-utils.git
