alabaster==0.7.12
attrs==22.1.0
Babel==2.10.3
bleach==4.1.0
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.0.12
colorama==0.4.5
coverage==6.2
cryptography==37.0.4
distlib==0.3.5
docutils==0.17.1
exec-wrappers==1.1.4
filelock==3.4.1
flake8==5.0.4
idna==3.3
imagesize==1.4.1
importlib-metadata==4.2.0
importlib-resources==5.4.0
iniconfig==1.1.1
jeepney==0.7.1
Jinja2==3.0.3
keyring==23.4.1
MarkupSafe==2.0.1
mccabe==0.7.0
packaging==21.3
pkginfo==1.8.3
platformdirs==2.4.0
pluggy==1.0.0
py==1.11.0
pycodestyle==2.9.1
pycparser==2.21
pyflakes==2.5.0
Pygments==2.12.0
pyparsing==3.0.9
pytest==7.0.1
pytz==2022.2.1
readme-renderer==34.0
requests==2.27.1
requests-toolbelt==0.9.1
rfc3986==1.5.0
SecretStorage==3.3.2
six==1.16.0
snowballstemmer==2.2.0
Sphinx==4.3.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
toml==0.10.2
tomli==1.2.3
tox==3.25.1
tqdm==4.64.0
twine==3.8.0
typing_extensions==4.1.1
urllib3==1.26.11
virtualenv==20.16.2
watchdog==2.1.9
webencodings==0.5.1
zipp==3.6.0
